@use 'sass:map';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

$cocoondata-purple: #2e0161;
$cocoondata-green: #caffba;
$cocoondata-yellow: #fffb82;
$cocoondata-grey: #404040;

$white: #fff;
$black: #000;
$color-contrast-dark: $black;
$color-contrast-light: $white;
$min-contrast-ratio: 4.5;

@mixin get-palette-colors($hue, $palette) {
  background-color: map.get($palette, $hue);
  color: color-contrast(map.get($palette, $hue));
}

@mixin get-palette-classes($name, $palette) {
  $hues: 100, 200, 300, 400, 500, 600, 700, 800, 900;

  @each $hue in $hues {
    .#{$name}-#{$hue} {
      @include get-palette-colors($hue, $palette);
    }
  }
}

$tint-shade-purple: (
  100: tint-color($cocoondata-purple, 80%),
  200: tint-color($cocoondata-purple, 70%),
  300: tint-color($cocoondata-purple, 60%),
  400: tint-color($cocoondata-purple, 50%),
  500: tint-color($cocoondata-purple, 40%),
  600: tint-color($cocoondata-purple, 30%),
  700: tint-color($cocoondata-purple, 20%),
  800: tint-color($cocoondata-purple, 10%),
  900: $cocoondata-purple,
);

$tint-shade-green: (
  100: tint-color($cocoondata-green, 50%),
  200: $cocoondata-green,
  300: shade-color($cocoondata-green, 10%),
  400: shade-color($cocoondata-green, 20%),
  500: shade-color($cocoondata-green, 30%),
  600: shade-color($cocoondata-green, 40%),
  700: shade-color($cocoondata-green, 50%),
  800: shade-color($cocoondata-green, 60%),
  900: shade-color($cocoondata-green, 70%),
);

$tint-shade-yellow: (
  100: tint-color($cocoondata-yellow, 50%),
  200: $cocoondata-yellow,
  300: shade-color($cocoondata-yellow, 10%),
  400: shade-color($cocoondata-yellow, 20%),
  500: shade-color($cocoondata-yellow, 30%),
  600: shade-color($cocoondata-yellow, 40%),
  700: shade-color($cocoondata-yellow, 50%),
  800: shade-color($cocoondata-yellow, 60%),
  900: shade-color($cocoondata-yellow, 70%),
);

$tint-shade-grey: (
  100: tint-color($cocoondata-grey, 87.5%),
  200: tint-color($cocoondata-grey, 75%),
  300: tint-color($cocoondata-grey, 62.5%),
  400: tint-color($cocoondata-grey, 50%),
  500: tint-color($cocoondata-grey, 37.5%),
  600: tint-color($cocoondata-grey, 25%),
  700: tint-color($cocoondata-grey, 12.5%),
  800: $cocoondata-grey,
  900: shade-color($cocoondata-grey, 40%),
);

@include get-palette-classes('tint-shade-purple', $tint-shade-purple);
@include get-palette-classes('tint-shade-green', $tint-shade-green);
@include get-palette-classes('tint-shade-yellow', $tint-shade-yellow);
@include get-palette-classes('tint-shade-grey', $tint-shade-grey);

$lighten-darken-purple: (
  100: lighten($cocoondata-purple, 70%),
  200: lighten($cocoondata-purple, 60%),
  300: lighten($cocoondata-purple, 50%),
  400: lighten($cocoondata-purple, 40%),
  500: lighten($cocoondata-purple, 30%),
  600: lighten($cocoondata-purple, 20%),
  700: lighten($cocoondata-purple, 10%),
  800: $cocoondata-purple,
  900: darken($cocoondata-purple, 10%),
);

$lighten-darken-green: (
  100: lighten($cocoondata-green, 10%),
  200: $cocoondata-green,
  300: darken($cocoondata-green, 10%),
  400: darken($cocoondata-green, 20%),
  500: darken($cocoondata-green, 30%),
  600: darken($cocoondata-green, 40%),
  700: darken($cocoondata-green, 50%),
  800: darken($cocoondata-green, 60%),
  900: darken($cocoondata-green, 70%),
);

$lighten-darken-yellow: (
  100: lighten($cocoondata-yellow, 10%),
  200: $cocoondata-yellow,
  300: darken($cocoondata-yellow, 10%),
  400: darken($cocoondata-yellow, 20%),
  500: darken($cocoondata-yellow, 30%),
  600: darken($cocoondata-yellow, 40%),
  700: darken($cocoondata-yellow, 50%),
  800: darken($cocoondata-yellow, 60%),
  900: darken($cocoondata-yellow, 70%),
);

$lighten-darken-grey: (
  100: lighten($cocoondata-grey, 70%),
  200: lighten($cocoondata-grey, 60%),
  300: lighten($cocoondata-grey, 50%),
  400: lighten($cocoondata-grey, 40%),
  500: lighten($cocoondata-grey, 30%),
  600: lighten($cocoondata-grey, 20%),
  700: lighten($cocoondata-grey, 10%),
  800: $cocoondata-grey,
  900: darken($cocoondata-grey, 10%),
);

@include get-palette-classes('lighten-darken-purple', $lighten-darken-purple);
@include get-palette-classes('lighten-darken-green', $lighten-darken-green);
@include get-palette-classes('lighten-darken-yellow', $lighten-darken-yellow);
@include get-palette-classes('lighten-darken-grey', $lighten-darken-grey);

$md2-purple: (
  100: #d5b5d9,
  200: #b985c1,
  300: #9e56a8,
  400: #8a3497,
  500: #770d86,
  600: #6b0b81,
  700: #5a0779,
  800: #4b0471,
  900: $cocoondata-purple,
);

$md2-green: (
  50: #f2ffee,
  100: #dfffd5,
  200: $cocoondata-green,
  300: #b5fe9e,
  400: #9cfa83,
  500: #93f775,
  600: #83e56b,
  700: #6ece5f,
  800: #5ab955,
  900: #359543,
);

$md2-yellow: (
  50: #ffffe9,
  100: #fcfbc7,
  200: #faf8a1,
  300: $cocoondata-yellow,
  400: #fcf664,
  500: #f9f147,
  600: #fee546,
  700: #fccd3b,
  800: #fbb531,
  900: #f88d1e,
);

$md2-grey: (
  100: #fafafa,
  200: #ededed,
  300: #dedede,
  400: #bbbbbb,
  500: #9c9c9c,
  600: #737373,
  700: #5f5f5f,
  800: $cocoondata-grey,
  900: #1f1f1f,
);

@include get-palette-classes('md2-purple', $md2-purple);
@include get-palette-classes('md2-green', $md2-green);
@include get-palette-classes('md2-yellow', $md2-yellow);
@include get-palette-classes('md2-grey', $md2-grey);

$md3-purple: (
  100: #ecdcff,
  200: #d6baff,
  300: #bf9af7,
  400: #a37fda,
  500: #8966be,
  600: #6f4ca3,
  700: #563489,
  800: #3f1a71,
  900: #280056,
);

$md3-green: (
  100: #aff49e,
  200: #94d785,
  300: #7abb6c,
  400: #60a054,
  500: #47853d,
  600: #2e6b27,
  700: #135210,
  800: #003a02,
  900: #002201,
);

$md3-yellow: (
  100: #ebe86e,
  200: #cfcb55,
  300: #b3b03c,
  400: #989522,
  500: #7d7b00,
  600: #636100,
  700: #4b4900,
  800: #333200,
  900: #1d1d00,
);

$md3-grey: (
  100: #e8e0eb,
  200: #cbc4cf,
  300: #b0a9b3,
  400: #958e99,
  500: #7b757f,
  600: #625c66,
  700: #4a454e,
  800: #332f37,
  900: #1e1a22,
);

@include get-palette-classes('md3-purple', $md3-purple);
@include get-palette-classes('md3-green', $md3-green);
@include get-palette-classes('md3-yellow', $md3-yellow);
@include get-palette-classes('md3-grey', $md3-grey);

// $cocoondata-purple: #2e0161;
// $cocoondata-green: #caffba;
// $cocoondata-yellow: #fffb82;

$primary: $cocoondata-purple;
$secondary: $cocoondata-green;
// $success: $cocoondata-green;
$warning: $cocoondata-yellow;

// $primary: map.get($cocoon-purple, 500);
// $success: map.get($cocoon-green, 300);
// $warning: map.get($cocoon-yellow, 400);

// $primary: map.get($lighten-darken-purple, 500);
// $success: map.get($lighten-darken-green, 500);
// $warning: map.get($lighten-darken-yellow, 500);

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);
