<header class="p-2 text-bg-primary">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            <i class="bi bi-list"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/colors">Colour Palette</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/buttons">Buttons</a>
            </li>
          </ul>
        </li>

        <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-primary me-2" routerLink="/home">
          <i class="bi bi-house-door-fill"></i>
        </button>
        <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
      </div>
    </div>
  </div>
</header>

<div class="p-3">
  <router-outlet></router-outlet>
</div>